body{
    background-color: rgb(201, 198, 198);
  }
  #img-caption{
  font-size: 20px; 
  }
  #image{
    max-width:100%;
    height: auto;
    display: block;
  }
  .center {
    display: block;
    margin: auto;
    padding: 10px;
    width: 50%;
  }
  .center1{
    margin-left: 45%;
  }